.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
government-mp/favicon.ico
government-mp/index.html
government-mp/resource/css/404.1624428855377.css
government-mp/resource/css/500.1624428855377.css
government-mp/resource/css/analysis.1624428855377.css
government-mp/resource/css/app.1624428855377.css
government-mp/resource/css/chunk-a88150d0.1624428855377.css
government-mp/resource/css/chunk-vendors.1624428855377.css
government-mp/resource/img/logo.82b9c7a5.png
government-mp/resource/js/js404.1624428855377.js
government-mp/resource/js/js500.1624428855377.js
government-mp/resource/js/jsabout.1624428855377.js
government-mp/resource/js/jsanalysis.1624428855377.js
government-mp/resource/js/jsapp.1624428855377.js
government-mp/resource/js/jschunk-a88150d0.1624428855377.js
government-mp/resource/js/jschunk-vendors.1624428855377.js
government-mp/resource/css/404.1625212166249.css
government-mp/resource/css/404~500.1625212166249.css
government-mp/resource/css/500.1625212166249.css
government-mp/resource/css/analysis.1625212166249.css
government-mp/resource/css/app.1625212166249.css
government-mp/resource/css/chunk-c103a334.1625212166249.css
government-mp/resource/css/chunk-vendors.1625212166249.css
government-mp/resource/img/401.089007e7.gif
government-mp/resource/img/404.b0674ab0.png
government-mp/resource/img/500.3a98f229.png
government-mp/resource/img/no-content.e22cb399.png
government-mp/resource/js/js404.1625212166249.js
government-mp/resource/js/js404~500.1625212166249.js
government-mp/resource/js/js500.1625212166249.js
government-mp/resource/js/jsabout.1625212166249.js
government-mp/resource/js/jsanalysis.1625212166249.js
government-mp/resource/js/jsapp.1625212166249.js
government-mp/resource/js/jschunk-c103a334.1625212166249.js
government-mp/resource/js/jschunk-vendors.1625212166249.js
package-lock.json
package-lock.json
package-lock.json
government-mp/resource/css/401.1626082147757.css
government-mp/resource/css/404.1626082147757.css
government-mp/resource/css/500.1626082147757.css
government-mp/resource/css/analysis.1626082147757.css
government-mp/resource/css/app.1626082147757.css
government-mp/resource/css/chunk-2161223c.1626082147757.css
government-mp/resource/css/chunk-8fc39460.1626082147757.css
government-mp/resource/css/chunk-c7e39e2e.1626082147757.css
government-mp/resource/css/chunk-vendors.1626082147757.css
government-mp/resource/img/noContent.e22cb399.png
government-mp/resource/js/js401.1626082147757.js
government-mp/resource/js/js401~404~500.1626082147757.js
government-mp/resource/js/js404.1626082147757.js
government-mp/resource/js/js500.1626082147757.js
government-mp/resource/js/jsabout.1626082147757.js
government-mp/resource/js/jsanalysis.1626082147757.js
government-mp/resource/js/jsapp.1626082147757.js
government-mp/resource/js/jschunk-2161223c.1626082147757.js
government-mp/resource/js/jschunk-8fc39460.1626082147757.js
government-mp/resource/js/jschunk-c7e39e2e.1626082147757.js
government-mp/resource/js/jschunk-vendors.1626082147757.js
government-mp/resource/js/jsmine.1626082147757.js
government-mp/resource/js/jstodo.1626082147757.js
